@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --rosa: #e96eae;
    --rosa-escuro: #b90061;
    --azul-escuro: #0c1d46;
    --branco: #fff8fb;
    --sombra: 0 24px 65px rgba(74, 12, 48, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: "Momo Trust Display", sans-serif;
}


/* INICIO MAIN */

#container{
    position: relative;
    width: 100%;
    min-height: 100%;
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
}

/* SECTION ESQUERDA */

#section-esquerda{
    width: 45%;
    height: 100%;
    position: fixed;
    top: 0;
}

#section-esquerda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -210px;
}


/* SECTION-DIREITA */

#section-direita{
    position: relative;
    margin-left: 45%;
    flex: 1;
    height: 1250px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background-color: #4E7CB2;
}

#section-direita .div-form{
    width: 80%;
    height: 1100px;
    margin-top: 50px;
}

#section-direita .textos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#section-direita .textos h2{
    font-size: 40px;
    color: #FFF;
}

#section-direita .textos h2 span{
    color: var(--azul-escuro);
}

#section-direita .textos p{
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.area-dados-responsavel{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.area-dados-responsavel .titulo-h3{
    margin-top: 50px;
    font-size: 23px;
    color: var(--azul-escuro);
}

.formulario{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: grid;
    flex-direction: column;
    color: #FFF;
    gap: 15px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}

.formulario .container-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.formulario .container-btn #btn-voltar{
    width: 150px;
    height: 47px;
    background: #1c487a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    transition: transform 0.2s ease, background 0.2s ease;
}

.formulario .container-btn #btn-voltar:hover{
    background: #1d2557;
}

.formulario input{
    width: 280px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--azul-escuro);
}

.formulario input::placeholder{
    color: #8c8d96;
}

.formulario .campo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-btn{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.container-btn button{
    width: 150px;
    height: 47px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #1c487a;
    color: #FFF;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: transform 0.2s ease, background 0.2s ease;
}

.container-btn button:hover{
    background: #1d2557;
}