* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #2449A4;
    font-family: "Momo Trust Sans", sans-serif;
}

main {
    width: 100%;
    overflow: hidden;
}

h1 {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
    color: #2449A4;
}

h2 {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    color: #2449A4;
}

h3 {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    color: #2449A4;
}

h5 {
    font-family: "Momo Trust Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #2449A4;
}

p {
    font-family: "Momo Trust Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #000000;
}

.section-inicio {
    min-height: 430px;
    background: #2449A4;
    color: white;
    position: relative;
    padding: 48px 6% 105px;
    overflow: hidden;
}

.inicio-texto {
    width: 50%;
}

.section-inicio h1 {
    color: white;
    margin-bottom: 18px;
    text-align: left;
}

.section-inicio p {
    color: white;
    max-width: 570px;
    text-align: justify;
}

.inicio-conteudo img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}

