main {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.user-section {
  width: 20%;
  height: 100vh;
  padding-top: 2%;
  margin-right: 2%;
}

.info-section {
  width: 60%;
  padding-top: 2%;
}

.info-section {
  div:first-child {
    margin-top: 0%;
  }

  #formacao-container,
  #capacitacoes-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  div {
    background-color: white;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(194, 194, 194);

    div {
      box-shadow: none;
      margin: 0;
      margin-bottom: 2%;
      padding: 0;
      display: flex;
      border: none;
      gap: 5px;
    }

    h1 {
      color: var(--azul-escuro);
      font-size: 100%;
      margin-bottom: 2%;
    }

    .form,
    .cap {
      flex-direction: column;
      .desc {
        color: #777;
      }
    }

    .cap {
      color: #000000;
      margin-bottom: 1%;
    }

    .ltt {
      p {
        margin: 0;
        padding: 10px 15px;
        border-radius: 100px;
        background: #eaf5ff;
        color: #2871a8;
        font-size: 0.72rem;
      }
    }

    .disp {
      margin: 0;
      p {
        background-color: rgb(255, 100, 100);
        color: white;
        box-shadow: 2px 2px 8px rgb(194, 194, 194);
        padding: 5px;
        border-radius: 0;
      }

      .disponivel {
        background-color: rgb(97, 255, 97);
      }
    }
  }
}

.profile {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(194, 194, 194);

  .banner {
    border-radius: 10px 10px 0 0;
    background-color: var(--azul-escuro);
    position: absolute;
    top: 0;
    height: 30%;
    width: 100%;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .info-principal {
    img {
      position: relative;
      width: 60%;
      background-color: white;
      z-index: 2;
      margin-top: 50px;
      border: white solid 10px;
      border-radius: 50%;

      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
    }

    h1 {
      font-size: 150%;
      color: var(--azul-escuro);
    }

    .if2 {
      text-align: left;
      margin: 5%;
      color: #555;
      padding-left: 4%;
    }

    .btns {
      display: flex;
      flex-direction: column;
      padding: 8%;
      padding-top: 3%;
      gap: 15px;
    }
  }
}

.stats {
  margin-top: 20px;
  position: relative;
  background-color: #fff;
  padding: 7%;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(194, 194, 194);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    h3 {
      color: var(--azul-escuro);
    }
  }
}
