main {
  display: flex;
  justify-content: center;
}

.user-section {
  width: 20%;
  height: 100vh;
  padding-top: 2%;
  margin-right: 2%;
}

.info-section {
  width: 60%;
  padding-top: 2%;
}

.info-section {
  div:first-child {
    margin-top: 0%;
  }
  div {
    background-color: white;
    margin: 1%;
    padding: 2%;
    border: 1px solid var(--azul-escuro);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(194, 194, 194);

    div {
      box-shadow: none;
      margin: 0;
      margin-bottom: 2%;
      padding: 0;
      display: flex;
      border: none;
      gap: 5px;
    }

    h1 {
      color: var(--azul-escuro);
      font-size: 100%;
      margin-bottom: 2%;
    }

    .form,
    .cap {
      flex-direction: column;
      .desc {
        color: #777;
      }
    }

    .cap {
      color: #555;
    }

    .ltt {
      p {
        border: 2px solid var(--rosa-escuro);
        box-shadow: 2px 2px 8px rgb(194, 194, 194);
        padding: 5px;
        border-radius: 10px;
      }
    }

    .disp {
      p {
        background-color: green;
        color: white;
        box-shadow: 2px 2px 8px rgb(194, 194, 194);
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}

.profile {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  border: 1px solid var(--azul-escuro);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(194, 194, 194);

  .banner {
    border-radius: 10px 10px 0 0;
    background-color: var(--azul-escuro);
    position: absolute;
    top: 0;
    height: 30%;
    width: 100%;
    left: 0;
  }
  .info-principal {
    img {
      position: relative;
      width: 60%;
      background-color: white;
      z-index: 2;
      margin-top: 50px;
      border: white solid 10px;
      border-radius: 10px;
    }

    h1 {
      font-size: 150%;
      color: var(--azul-escuro);
    }

    .if2 {
      text-align: left;
      margin: 5%;
      color: #555;
    }

    .btns {
      display: flex;
      flex-direction: column;
      padding: 8%;
      gap: 15px;
    }
  }
}

.stats {
  margin-top: 20px;
  position: relative;
  background-color: #fff;
  padding: 7%;
  border: 1px solid var(--azul-escuro);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(194, 194, 194);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    h3{
        color: var(--azul-escuro);
    }
  }
}
